
.MdEditor {
    height: 100vh;
}

textarea.MdEditor {
    width: 100%;
    border: solid 0px transparent;
    outline: 0px;
}

.Active .Edit {
  background-color: var(--gray-4);
  border-bottom: solid 1px var(--gray-5);
}
