
/* .Active .Note.Top {

} */

/* .Inactive .Note.Top {

} */

.Active .Edit {
  min-height: 24px;
  padding: 4px;
  background-color: var(--gray-4);
  border-bottom: solid 1px var(--gray-5);
  opacity: 1;
  transition: opacity 0.5s, height 0.25s, padding-top 0.25s, padding-bottom 0.25s;
}

.Inactive .Edit {
  padding: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  color: transparent;
  transition: height 0.25s, padding-top 0.25s, padding-bottom 0.25s;
}

.NoteTitle {
  font-weight: normal;
}

.Active .NoteTitle {
  opacity: 0.5;
}

.Inactive .NoteTitle {
  opacity: 0
}

.Active .Body {
  padding: 0px;
}

.Inactive .Body {
  padding: 0px;
}
