
.MdViewer * {
}

.Note .Top {
    background-color: var(--accent-3);
}

.Note .Body {
    background-color: var(--gray-3);
}

.Note .Body Textarea {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--gray-3);
}

.MdViewer {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MdViewer p {
    margin: 0.5em 0;
}

.MdViewer strong {
    font-weight: 700;
}

.MdViewer em {
    font-style: italic;
}

.MdViewer del {
    text-decoration: line-through;
}

.MdViewer h1 {
    font-weight: 900;
    font-size: 2em;
    border-bottom: solid 1px #fff8;
    margin-bottom: 0.5em;
    
}

.MdViewer h2 {
    font-weight: 900;
    font-size: 1.6em;
    border-bottom: solid 1px #fff8;
}

.MdViewer h3 {
    font-weight: 900;
    font-size: 1.5em;
}

.MdViewer h4 {
    font-weight: 700;
    font-size: 1.4em;
}

.MdViewer h5 {
    font-weight: 700;
    font-size: 1.2em;
}

.MdViewer h6 {
    font-weight: 700;
    font-size: 1em;
}

.MdViewer ul {
    list-style: disc;
}

.MdViewer ul ::marker{
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
}

.MdViewer ol {
    list-style: decimal;
}

.MdViewer ol ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}


